@charset "UTF-8";

:root{
    --green-1-color:#4DD1B7;
    --green0-color:#32B79D;
    --green1-color:#2B9E88;

    --red0-color:#D84169;
    --red1-color:#BF3A5D;
    --red2-color:#A6294A;

    --dark-2-color:#28004C;
    --dark-1-color:#1B0033;
    --dark0-color:#0D0019;

    --light-2-color:#DCCFE5;
    --light-1-color:#ECE4F2;
    --light0-color:#F8F0FF;
    --light1-color:#FBF7FF;
}

body, html{
    width: 100vw;
    height: 100vh;
    color: var(--dark0-color);
    background-color: var(--light1-color);
}
header{
    background-image: url('../imagens/background/bg-main-g.jpg');
}
    #header-headings{
        max-width: 700px;
        margin-bottom: 96px;
    }
        #header-headings > h1{
            margin-bottom: 40px;
        }
        #header-headings > p{
            text-indent: 0px;
            font-size: 1.333em;
            font-weight: 400;
            margin-bottom: 0px;
        }
        #header-headings strong{
            color: var(--green-1-color);
            font-family: 'espleetype', sans-serif;
            font-size: 1em;
        }
    button{
        background-color: var(--red0-color);
        color: var(--light1-color);
        margin-bottom: 96px;
    }
        button:hover{
            transition: .15s;
            background-color: var(--red1-color);
            color: var(--light0-color);
        }
    #seta{
        display: flex;
        justify-content: center;
        padding-bottom: 80px;
    }
        #seta > img{
            width: 40px;
        }
    
