header{
    background-image: url();}
    #header-content{
        height: 640px;}
        header div.nav{
            padding-top: 48px;
        }

section div.content{
    width: 1200px;}
#flex{
    flex-direction: row;
    justify-content: center;
    margin-top: 64px;}
    #div1{
        flex: 50%;}
    #div2{
        flex: 50%;}
section.galery{
    padding-bottom: 140px;
}
div.galery{
    width: 80%;
    margin: auto;}
    div.galery picture, div.galery img{
        display: flex;
        flex-direction: column;
        gap: 24px;}
        div.galery div.social{
            padding: 0px;}
#cta div.content{
    margin-top: 128px;
}