@charset "UTF-8";

:root{
    --green-1-color:#4DD1B7;
    --green0-color:#32B79D;
    --green1-color:#2B9E88;

    --red0-color:#D84169;
    --red1-color:#BF3A5D;
    --red2-color:#A6294A;

    --dark-2-color:#28004C;
    --dark-1-color:#1B0033;
    --dark0-color:#0D0019;

    --light-2-color:#DCCFE5;
    --light-1-color:#ECE4F2;
    --light0-color:#F8F0FF;
    --light1-color:#FBF7FF;
}
header{
    background-image: url(imagens/bg-cover-g.jpg)
}
    #nav2{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 24px;
    }
        #nav2 > img{
            width: 24px;
        }

        #nav2 > a{
            transition: .4s;
            text-decoration: none;
            color: var(--light-1-color);
            font-weight: 400;

            position: relative;
        }
            #nav2 > a:hover{
                transition: .4s;
                color: var(--light1-color);
                transform: scale(1.03);
            }
    #contato-header-heading > h1{
        font-size: 3.157em;
        font-weight: 500;
        font-family: 'roboto', sans-serif;
        text-align: center;
        margin-bottom: 40px;
    }
    #contato-header-heading > p{
        text-indent: 0px;
        text-align: center;
        font-weight: 400;
        margin-bottom: 96px;
    }
    #seta{
        display: flex;
        justify-content: center;
        padding-bottom: 140px;
    }
        #seta > img{
            width: 48px;
        }

.aux{
    position: relative;
    width: 100%;
}
main{
    display: flex;
    flex-direction: row;
    gap: 96px;

    max-width: 1200px;
    padding: 64px 48px 96px 48px;
    margin: auto;
}
    #contato-content{
        width: 50%;
    }
    #contato-form{
        width: 50%;
    }
        #contato-form form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
        }
            .form-subtypes{
                display: flex;
                flex-direction: column;
                width: 100%;
            }
                .form-subtypes > label{
                    color: var(--dark-2-color);
                    padding: 0px 0px 12px 12px;
                }
                .form-subtypes > input{
                    background-color: var(--light0-color);
                    
                    padding: 16px;
                    border-radius: 3px;
                    border: none;

                    position: relative;
                }
                    .form-subtypes > input::placeholder{
                        color: var(--light-2-color);

                        position: absolute;
                    }
                    #inpt-msg{
                        height: 184px;
                    }
            button{
                background-color: var(--red0-color);
                color: var(--light1-color);
                width: 100%;
            }
                button:hover{
                    background-color: var(--red1-color);
                    color: var(--light0-color);
                }
            #atencao{
                text-align: center;
            }

                    
@media only screen and (max-width: 1000px){
    #contato-header-heading > p{
        margin-bottom: 48px;
    }
    #seta{
        padding-bottom: 96px;
    }
    main{
        flex-direction:column;
    }
        #contato-content{
            display: none;
        }
        #contato-form{
            width: 100%;
        }
}